.questions {
	background-color: #ffffff;
 	padding: 5px;
    opacity: 0.6;
    display: none;
}
.end {
	display: none;
}

h1 {
	color: white;
	text-align: center;
}
h2 {
	color: black;
	font-size: 16px;


}

body {
	background-image: url("images/background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:absolute;

}

p {
	font-size: 30px;
	
}
#correct {
	color: black;
	font-size: 24px;
	text-align: center;
}
#incorrect {
	color: black;
	font-size: 24px;
	text-align: center;
}
.results1 {
	background-color: #ffffff;
 	padding: 5px;
    opacity: 0.6;
    display: none;
}
#play {
	display: none;
}
.timer {
	color: black;
	font-size: 24px;
	text-align: center;
	display: none;
}
.failure {
	display: none;
}