.questions {
	background-color: #ffffff;
 	padding: 5px;
    opacity: 0.6;
    display: none;
  
}
.end {
	display: none;
}

h1 {
	color: white;
	text-align: center;
}
h2 {
	color: black;
	font-size: 16px;


}

body {
	background-image: url("images/background.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:absolute;

}

p {
	font-size: 30px;
	
}
